@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fdfdfd;
  --black: #555;
  --red: #d95087;
  --background-red: #fff0f1;
  --grey: #bbbaba;
  --primary: #4791db;
  --background-primary: #ebf1fe;
  --green: #3bb077;
  --bacgrounglite: #fbfbff;
  --bacgroung: #fdfdfd;
  --bacgroundGreen: #e5faf2;
  --background-button: #f0f0ff;
  --shadow: 0px 0px 20px -15px rgba(0, 0, 0, 0.6);
}

.dark-Theme {
  --bacgrounglite: #091921;
  --bacgroung: #0a1318;
  --background-button: #091921;
  --black: #fdfdfd;
  --background-primary: #0a1318;
  --bacgroundGreen: #0a1318;
  --background-red: #0a1318;
}

body {
  background-color: var(--bacgrounglite);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-weight: 600;
}

p,
label {
  color: var(--black);
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #4791db !important;
}
.MuiCheckbox-colorPrimary.Mui-checked {
  color: var(--primary) !important;
}

.MuiDataGrid-root *:focus {
  outline: none !important;
}

.MuiDataGrid-root {
  color: var(--black) !important;
  background-color: var(--bacgroung);
}

.MuiInputBase-root {
  color: #555 !important;
  background-color: #fbfbff;
}

.MuiIconButton-colorPrimary {
  color: var(--primary) !important;
}
